html { height: auto; min-height: 100%; position: relative; font-size: 100%; margin: 0; padding: 0; }
body { height: 100%; background: #eee; background-image: url("../resources/dust_scratches.png"); margin: 0; padding: 0; color: #ccc; font-family: 'Signika Negative', sans-serif; font-size: 100%; line-height: 1;}
body.no-overflow { overflow: hidden; }

/* Generic resets */
a { text-decoration: none; }
a:hover { text-decoration: none;}
img { border-style: none; }
h1,h2 { font-weight: 600;}
h2 { font-weight: 300; }
h1,h2,h3,h4,h5 { margin: 0.5em 0 0.5em 0; }

/* Header */
h1 { padding: 10px; font-size: 1.5em; top: 10px; margin: 0;}
h1 a:hover { text-shadow: none; text-decoration: none; }
ul, ol { list-style: none; list-style-type: none; margin: 0; padding: 0;}

header { overflow: hidden; z-index: 10;}

#main-menu { float: right; overflow: hidden; }
#main-menu li { display: inline; }
#main-menu a { font-weight: bold;  display: inline-block; padding: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; color: #333;}
#main-menu a:hover { background-color: #ddd; text-decoration: none;}

#content { overflow: hidden; margin-top: 50px; line-height: 1.5; }
#content.narrow { max-width: 400px; }
#content.medium { max-width: 600px; }
#content p { text-align: center; margin-top: -20px; }

canvas.full { position: absolute; top: 0; left: 0; }

/* Rules for all devices > 600px */
@media screen and (min-width: 600px) {
  header { margin-top: 20px; }
  h1,h2 { font-size: 3em; }
  #main-menu { padding: 10px; }
  #main-menu a { margin-right: 10px;}
}

@media screen and (min-width: 600px) and (max-width: 999px) {
  .fluid { position: relative; left: 50%; width: 90%; margin-left: -45%;}
}

/* Max screen width of 1000px */
@media screen and (min-width: 1000px) {
  .fluid { position: relative; left: 50%; width: 900px; margin-left: -450px;}
}
