/* Custom Stylesheet */

body {
  background-color: rgba(245, 245, 245);
  color: #777;
}

.container {
  margin-bottom: 5em;
}

.nav-wrapper {
  padding-left: 2em;
  padding-right: 2em;
}

#index-banner {
  padding: 1em 5em 0em 2em;
  text-shadow: 0.5px 0.5px #fff;
  background-image: url("../resources/sherlock.png");
  background-color: rgba(237, 231, 246, 0.5);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right center;
}

#aboutme {
  font-size: larger;
}

.card {
  background-color: rgba(135, 145, 135, 0.2);
}

.card-title {
  color: #222;
}

.sherlock-quote {
  font-weight: bolder;
}

#find-button {
  background-color: rgba(179, 136, 255, 0.75);
}

.my-section-header {
  padding: 0.05em 1em 0.05em 1em;
}

.book-cell {
  text-align: center;
}

.page-footer {
  height: 20px;
}

.footer-copyright {
  height: 20px;
}

.footer-text {
  padding-left: 2em;
}
